category-encoders==2.4.1
cdt==0.5.23
gcastle==1.0.3rc3
jupyterlab==3.3.4
matplotlib==3.5.2
mlxtend==0.20.0
network==0.1
networkx==2.8
numpy==1.22.3
pandas==1.4.2
protobuf==3.20
scikit-learn==1.0.2
scorecardpy==0.1.9.2
seaborn==0.11.2
statsmodels==0.13.2
tensorflow-macos==2.8.0
torch==1.11.0
xgboost==1.6.1
